# 0922유튭보고 공부하기

In [1]:
import pandas as pd
arr = [0, 1, 2, 3]
type(arr)

list

In [2]:
s = pd.Series(arr)
s

0    0
1    1
2    2
3    3
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

In [5]:
data = [100, 200, 300]
index = ["월" , "화", "수"]
s= pd.Series(data, index) 
s

월    100
화    200
수    300
dtype: int64

In [6]:
data = [500, 800, 200]
index = ["메로나" , "누가바", "빠삐코"]
s= pd.Series(data, index) 
s

메로나    500
누가바    800
빠삐코    200
dtype: int64

In [ ]:
# 판다스 인덱싱 & 슬라이싱

In [7]:
import pandas as pd 



data = [100, 200, 300]
index = ["월" , "화", "수"]
s= pd.Series(data, index) 
s

월    100
화    200
수    300
dtype: int64

In [9]:
s.iloc[0]

100

In [10]:
s.loc["월"]

100

In [12]:
s.iloc[0:2]

월    100
화    200
dtype: int64

In [13]:
s.loc["화":"수"]

화    200
수    300
dtype: int64

In [14]:
s.iloc[[0, 2]]

월    100
수    300
dtype: int64

In [ ]:
#판다스 시리즈 추가, 삭제, 수정

In [16]:
import pandas as pd 

data = [100, 200, 300]
index = ["월" , "화", "수"]
s= pd.Series(data, index) 

s.loc["목"] = 400 
print(s)

월    100
화    200
수    300
목    400
dtype: int64

In [18]:
import pandas as pd 

data = [100, 200, 300]
index = ["월" , "화", "수"]
s= pd.Series(data, index) 

s1 = s.drop('월')
s1

화    200
수    300
dtype: int64

In [ ]:
# seris 연산

In [24]:
#연습문제 
import pandas as pd 
저가 = pd.Series([10, 200, 200, 400, 600])
고가 = pd.Series([100, 300, 400, 500, 600])
cond = (고가 - 저가) >= 100 
고가[cond]

1    300
2    400
3    500
dtype: int64

In [ ]:
#데이타 프레임 생성

In [1]:
import pandas as pd 
data = {
    '시가' : [980, 200, 300],
    '고가' : [990, 300, 500],
    '저가' : [920, 180,300],
    '종가' : [930, 180, 400]
}
index = ['비트코인', '리플', '이더리움']

df = pd.DataFrame(data , index)
df

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180
이더리움  300  500  300  400

In [ ]:
#ㅇㅇㅇ

In [2]:
from pandas import DataFrame

data = [
    ['3R', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037730', '036360', '005760']
columns = ['종목명', '현재가', '등락률']

df = DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [3]:
df.iloc[1,1]

1790

In [4]:
df.loc['036360', '현재가']

1790

In [5]:
df.iloc[0,2]

7.36

In [6]:
df.iloc[[0,1] , [0,1] ]

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [ ]:
#데이터 추가

In [11]:
!pip install pyupbit

Requirement already satisfied: pyupbit in c:\users\user\anaconda3\lib\site-packages (0.2.34)
Requirement already satisfied: pyjwt>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from pyupbit) (2.8.0)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from pyupbit) (2.2.2)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from pyupbit) (2.32.2)
Requirement already satisfied: websockets in c:\users\user\anaconda3\lib\site-packages (from pyupbit) (13.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas->pyupbit) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas->pyupbit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->pyupbit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas->pyupbit) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests->pyupbit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->pyupbit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->pyupbit) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->pyupbit) (2024.6.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->pyupbit) (1.16.0)

In [13]:
import pyupbit

df = pyupbit.get_ohlcv("KRW-BTC")
df['range'] = df['high'] - df['low']
df

,open,high,low,close,volume,value,range
2024-03-07 09:00:00,93325000.0,95678000.0,92670000.0,94060000.0,5792.492528,5.449383e+11,3008000.0
2024-03-08 09:00:00,94044000.0,98543000.0,94000000.0,96237000.0,8721.933220,8.352094e+11,4543000.0
2024-03-09 09:00:00,96237000.0,96420000.0,95120000.0,95946000.0,3946.681689,3.785361e+11,1300000.0
2024-03-10 09:00:00,95946000.0,98445000.0,95904000.0,97495000.0,5997.985803,5.845918e+11,2541000.0
2024-03-11 09:00:00,97501000.0,101940000.0,95132000.0,100404000.0,14017.568149,1.394028e+12,6808000.0
...,...,...,...,...,...,...,...
2024-09-18 09:00:00,81116000.0,82618000.0,80008000.0,82604000.0,3362.150138,2.726561e+11,2610000.0
2024-09-19 09:00:00,82602000.0,85000000.0,82286000.0,83892000.0,4549.027346,3.803974e+11,2714000.0
2024-09-20 09:00:00,83891000.0,85478000.0,83377000.0,84385000.0,3257.118299,2.752178e+11,2101000.0
2024-09-21 09:00:00,84384000.0,84750000.0,84000000.0,84425000.0,1066.570673,8.995294e+10,750000.0
2024-09-22 09:00:00,84429000.0,84510000.0,84000000.0,84200000.0,386.126181,3.252390e+10,510000.0

In [14]:
df.head()

,open,high,low,close,volume,value,range
2024-03-07 09:00:00,93325000.0,95678000.0,92670000.0,94060000.0,5792.492528,5.449383e+11,3008000.0
2024-03-08 09:00:00,94044000.0,98543000.0,94000000.0,96237000.0,8721.933220,8.352094e+11,4543000.0
2024-03-09 09:00:00,96237000.0,96420000.0,95120000.0,95946000.0,3946.681689,3.785361e+11,1300000.0
2024-03-10 09:00:00,95946000.0,98445000.0,95904000.0,97495000.0,5997.985803,5.845918e+11,2541000.0
2024-03-11 09:00:00,97501000.0,101940000.0,95132000.0,100404000.0,14017.568149,1.394028e+12,6808000.0

In [16]:
df['range'] = df['high'] - df['low']
df.head ()

,open,high,low,close,volume,value,range
2024-03-07 09:00:00,93325000.0,95678000.0,92670000.0,94060000.0,5792.492528,5.449383e+11,3008000.0
2024-03-08 09:00:00,94044000.0,98543000.0,94000000.0,96237000.0,8721.933220,8.352094e+11,4543000.0
2024-03-09 09:00:00,96237000.0,96420000.0,95120000.0,95946000.0,3946.681689,3.785361e+11,1300000.0
2024-03-10 09:00:00,95946000.0,98445000.0,95904000.0,97495000.0,5997.985803,5.845918e+11,2541000.0
2024-03-11 09:00:00,97501000.0,101940000.0,95132000.0,100404000.0,14017.568149,1.394028e+12,6808000.0

In [17]:
import pyupbit

df = pyupbit.get_ohlcv("KRW-BTC")
df2 = df.drop('volume', axis =1) 
df

,open,high,low,close,volume,value
2024-03-07 09:00:00,93325000.0,95678000.0,92670000.0,94060000.0,5792.492528,5.449383e+11
2024-03-08 09:00:00,94044000.0,98543000.0,94000000.0,96237000.0,8721.933220,8.352094e+11
2024-03-09 09:00:00,96237000.0,96420000.0,95120000.0,95946000.0,3946.681689,3.785361e+11
2024-03-10 09:00:00,95946000.0,98445000.0,95904000.0,97495000.0,5997.985803,5.845918e+11
2024-03-11 09:00:00,97501000.0,101940000.0,95132000.0,100404000.0,14017.568149,1.394028e+12
...,...,...,...,...,...,...
2024-09-18 09:00:00,81116000.0,82618000.0,80008000.0,82604000.0,3362.150138,2.726561e+11
2024-09-19 09:00:00,82602000.0,85000000.0,82286000.0,83892000.0,4549.027346,3.803974e+11
2024-09-20 09:00:00,83891000.0,85478000.0,83377000.0,84385000.0,3257.118299,2.752178e+11
2024-09-21 09:00:00,84384000.0,84750000.0,84000000.0,84425000.0,1066.570673,8.995294e+10
2024-09-22 09:00:00,84429000.0,84510000.0,84000000.0,84168000.0,386.446698,3.255088e+10

In [ ]:
#시계열 데이터

In [ ]:
import pandas as pd

date = ["2021-04-09"]
index = pd.to_datetime(date)

print(type(date))
print(type(index))

In [ ]:
<class 'list'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [ ]:
import pandas as pd

date = "2021-04-09"
index = pd.to_datetime(date)

print(type(date))
print(type(index))

In [ ]:
<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [18]:
import pandas as pd

date = "2021-09-22"
dt = pd.to_datetime(date)
type(date)
type(dt)

pandas._libs.tslibs.timestamps.Timestamp

In [19]:
#데이터 프레임 연산

In [21]:
import pyupbit

df = pyupbit.get_ohlcv("KRW-BTC")
df['open'] +100
df

,open,high,low,close,volume,value
2024-03-07 09:00:00,93325000.0,95678000.0,92670000.0,94060000.0,5792.492528,5.449383e+11
2024-03-08 09:00:00,94044000.0,98543000.0,94000000.0,96237000.0,8721.933220,8.352094e+11
2024-03-09 09:00:00,96237000.0,96420000.0,95120000.0,95946000.0,3946.681689,3.785361e+11
2024-03-10 09:00:00,95946000.0,98445000.0,95904000.0,97495000.0,5997.985803,5.845918e+11
2024-03-11 09:00:00,97501000.0,101940000.0,95132000.0,100404000.0,14017.568149,1.394028e+12
...,...,...,...,...,...,...
2024-09-18 09:00:00,81116000.0,82618000.0,80008000.0,82604000.0,3362.150138,2.726561e+11
2024-09-19 09:00:00,82602000.0,85000000.0,82286000.0,83892000.0,4549.027346,3.803974e+11
2024-09-20 09:00:00,83891000.0,85478000.0,83377000.0,84385000.0,3257.118299,2.752178e+11
2024-09-21 09:00:00,84384000.0,84750000.0,84000000.0,84425000.0,1066.570673,8.995294e+10
2024-09-22 09:00:00,84429000.0,84510000.0,84000000.0,84177000.0,392.888229,3.309297e+10

In [23]:
import pyupbit

df = pyupbit.get_ohlcv("KRW-BTC")
cond= df['close'] > df['open']
cond
df

,open,high,low,close,volume,value
2024-03-07 09:00:00,93325000.0,95678000.0,92670000.0,94060000.0,5792.492528,5.449383e+11
2024-03-08 09:00:00,94044000.0,98543000.0,94000000.0,96237000.0,8721.933220,8.352094e+11
2024-03-09 09:00:00,96237000.0,96420000.0,95120000.0,95946000.0,3946.681689,3.785361e+11
2024-03-10 09:00:00,95946000.0,98445000.0,95904000.0,97495000.0,5997.985803,5.845918e+11
2024-03-11 09:00:00,97501000.0,101940000.0,95132000.0,100404000.0,14017.568149,1.394028e+12
...,...,...,...,...,...,...
2024-09-18 09:00:00,81116000.0,82618000.0,80008000.0,82604000.0,3362.150138,2.726561e+11
2024-09-19 09:00:00,82602000.0,85000000.0,82286000.0,83892000.0,4549.027346,3.803974e+11
2024-09-20 09:00:00,83891000.0,85478000.0,83377000.0,84385000.0,3257.118299,2.752178e+11
2024-09-21 09:00:00,84384000.0,84750000.0,84000000.0,84425000.0,1066.570673,8.995294e+10
2024-09-22 09:00:00,84429000.0,84510000.0,84000000.0,84117000.0,393.424830,3.313812e+10

In [25]:
import pyupbit

df = pyupbit.get_ohlcv("KRW-BTC")
df['close_shift1'] = df['close'].shift(1)
df

,open,high,low,close,volume,value,close_shift1
2024-03-07 09:00:00,93325000.0,95678000.0,92670000.0,94060000.0,5792.492528,5.449383e+11,NaN
2024-03-08 09:00:00,94044000.0,98543000.0,94000000.0,96237000.0,8721.933220,8.352094e+11,94060000.0
2024-03-09 09:00:00,96237000.0,96420000.0,95120000.0,95946000.0,3946.681689,3.785361e+11,96237000.0
2024-03-10 09:00:00,95946000.0,98445000.0,95904000.0,97495000.0,5997.985803,5.845918e+11,95946000.0
2024-03-11 09:00:00,97501000.0,101940000.0,95132000.0,100404000.0,14017.568149,1.394028e+12,97495000.0
...,...,...,...,...,...,...,...
2024-09-18 09:00:00,81116000.0,82618000.0,80008000.0,82604000.0,3362.150138,2.726561e+11,81116000.0
2024-09-19 09:00:00,82602000.0,85000000.0,82286000.0,83892000.0,4549.027346,3.803974e+11,82604000.0
2024-09-20 09:00:00,83891000.0,85478000.0,83377000.0,84385000.0,3257.118299,2.752178e+11,83892000.0
2024-09-21 09:00:00,84384000.0,84750000.0,84000000.0,84425000.0,1066.570673,8.995294e+10,84385000.0
2024-09-22 09:00:00,84429000.0,84510000.0,84000000.0,84164000.0,395.241970,3.329099e+10,84425000.0