# 0913

In [1]:
#pandas 
#series 1차원 
#data frame 2차원

In [2]:
import pandas as pd 
import numpy as np 

#series
s = pd.Series ( [ 1 ,2, 3, 4, 5]) 
print (type (s) )
print ( s . index) 
print ( s. dtype) 
print ( s )
s. index = [ 'A' , 'B' , 'C', 'D' , 'E']
print (s)

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1)
int64
0    1
1    2
2    3
3    4
4    5
dtype: int64
A    1
B    2
C    3
D    4
E    5
dtype: int64

In [3]:
s = pd.Series ( [ 1 ,2, 3, 4, 5] , [ 'A' , 'B' , 'C', 'D' , 'E']) 
print(s) 
print (s . index) 
print ( s. values)  
print (s ['A']) 
print (s.A) 
print (s [0:5]) 
print (s ['A':'D'])

A    1
B    2
C    3
D    4
E    5
dtype: int64
Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
[1 2 3 4 5]
1
1
A    1
B    2
C    3
D    4
E    5
dtype: int64
A    1
B    2
C    3
D    4
dtype: int64

In [10]:
# dictionary ( map , json) -> series

d = {'A' : 10 , 'D' : 20 , 'F':30, 'H':40}
print(type(d))
for key, value in d.items() :
    print (key, ":", value)
    print(d['A'])

# print (d.A) - dpfj 

s = pd.Series(d)
print(s.index)
print(s.values)
print(s['A'])
print(s.A)
print ( s [0:3]) 
print ( s ['A':'F'] )

<class 'dict'>
A : 10
10
D : 20
10
F : 30
10
H : 40
10
Index(['A', 'D', 'F', 'H'], dtype='object')
[10 20 30 40]
10
10
A    10
D    20
F    30
dtype: int64
A    10
D    20
F    30
dtype: int64

In [21]:
#dataframe 
# 딕셔너리 -> 데이터 프레임 


d = {
    'name' : [ 'kim', 'lee', 'park', 'jung' ],
    'age' : [25, 30, 35, 20],
    'tel' : ['1111-2222', '2222-1111', '3333-1111', '2222-3333']
}
print(type(d))
print (d)

df = pd.DataFrame(d)   # 데이터 프레임
print (df)
print(df.index)
print (df.columns) 
print (df.values)
df. index.name = 'Num'
df . columns.name = 'User' 
print (df)
print(df.index)
print (df.columns)

<class 'dict'>
{'name': ['kim', 'lee', 'park', 'jung'], 'age': [25, 30, 35, 20], 'tel': ['1111-2222', '2222-1111', '3333-1111', '2222-3333']}
   name  age        tel
0   kim   25  1111-2222
1   lee   30  2222-1111
2  park   35  3333-1111
3  jung   20  2222-3333
RangeIndex(start=0, stop=4, step=1)
Index(['name', 'age', 'tel'], dtype='object')
[['kim' 25 '1111-2222']
 ['lee' 30 '2222-1111']
 ['park' 35 '3333-1111']
 ['jung' 20 '2222-3333']]
User  name  age        tel
Num
0      kim   25  1111-2222
1      lee   30  2222-1111
2     park   35  3333-1111
3     jung   20  2222-3333
RangeIndex(start=0, stop=4, step=1, name='Num')
Index(['name', 'age', 'tel'], dtype='object', name='User')

In [28]:

n = np. array (
    [['kim' , 20, '1111- 2222'],
     ['lee' , 30 , '2222-1111'], 
     ['park' , 35 , '3333-2222'], 
     ['jung' , 25, '3333-1111']] 
)
print (type (n) ) 
df = pd. DataFrame (n) 

df . columns = [ 'name', 'age', 'tel' ] 
df . index = [ 'A', 'B', 'C', 'D' ] 
print (df) 
print (df. index) 
print (df. columns) 


df = pd. DataFrame ( n, columns = [ 'name' , 'age' , 'tel'] ,  index = ['A', 'B', 'C', 'D']) 
print (df) 

print ( df.describe() )

<class 'numpy.ndarray'>
   name age         tel
A   kim  20  1111- 2222
B   lee  30   2222-1111
C  park  35   3333-2222
D  jung  25   3333-1111
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['name', 'age', 'tel'], dtype='object')
   name age         tel
A   kim  20  1111- 2222
B   lee  30   2222-1111
C  park  35   3333-2222
D  jung  25   3333-1111
       name age         tel
count     4   4           4
unique    4   4           4
top     kim  20  1111- 2222
freq      1   1           1