In [1]:
# # 쥬피터노트북 셀 스타일 조절 
# from IPython.core.display import display, HTML
# display(HTML("<style>.container { font-weight: bold !important; }</style>"))
# display(HTML("<style>.container { width: 100% !important; }</style>"))

# # 경고 메세지 숨기기 
# import warnings
# warnings.filterwarnings(action='ignore')

In [2]:
import pandas as pd
import numpy as np
import os

# Pandas Quiz

## Quiz 1

### Q1-1
```
아래의 데이타를 이용하여 데이타프레임을 생성하여라.
name_list는 인덱스로 이용한다. 

data = {'kor':[40, 55, 66, 77, 34],
        'math':[70, 55, 66, 20, 40],
        'eng':[80, 95, 100, 77, 90]}
        
name_list = ['고길동','김희동','신윤지','이민호','박준희']        
```

In [4]:
data = {'kor':[40, 55, 66, 77, 34],
        'math':[70, 55, 66, 20, 40],
        'eng':[80, 95, 100, 77, 90]}
        
name_list = ['고길동','김희동','신윤지','이민호','박준희']     
df = pd.DataFrame(data, index=name_list)
df

     kor  math  eng
고길동   40    70   80
김희동   55    55   95
신윤지   66    66  100
이민호   77    20   77
박준희   34    40   90

### Q1-2
```
2명의 데이타를 추가하여라. 

신머신	55	67	88
윤파이	90	100	90
```

In [ ]:
df.loc['신머신']=[55, 67, 88]

### Q1-3
sci 과목의 데이타를 추가하여라 

90, 45, 77, 90, 67, 90, 80

In [ ]:
df.loc['윤파이']=[90, 100, 90]

### Q1-4
eng 과목에서 eng 평균점수보다 높은 학생은?

In [ ]:
df

### Q1-5
전체 과목의 평균을 구한 후 평균이상이면 O, 평균미만이면 X를 pass 컬럼에 출력하여라.

### A1-1

In [ ]:
# (1) 아래의 데이타를 이용하여 데이타프레임을 생성하여라.
   
data = {'kor':[40, 55, 66, 77, 34],
        'math':[70, 55, 66, 20, 40],
        'eng':[80, 95, 100, 77, 90]}
        
name_list = ['고길동','김희동','신윤지','이민호','박준희']

In [ ]:
df = pd.DataFrame(data, index=name_list)
df

### A1-2
2명의 데이타를 추가하여라.

In [6]:
df.loc['신머신']=[55, 67, 88]
df.loc['윤파이']=[90, 100, 90]
df

     kor  math  eng
고길동   40    70   80
김희동   55    55   95
신윤지   66    66  100
이민호   77    20   77
박준희   34    40   90
신머신   55    67   88
윤파이   90   100   90

### A1-3
sci 과목의 데이타를 추가하여라 

90, 45, 77, 90, 67, 90, 80

In [7]:
df['sci'] = [90, 45, 77, 90, 67, 90, 80]
df

     kor  math  eng  sci
고길동   40    70   80   90
김희동   55    55   95   45
신윤지   66    66  100   77
이민호   77    20   77   90
박준희   34    40   90   67
신머신   55    67   88   90
윤파이   90   100   90   80

### A1-4
eng 과목에서 eng 평균점수보다 높은 학생은?

In [8]:
# eng과목의 평균점수 : 반올림 round(data, n)
round(df['eng'].mean(),2)

88.57

In [9]:
df['eng']>df['eng'].mean()

고길동    False
김희동     True
신윤지     True
이민호    False
박준희     True
신머신    False
윤파이     True
Name: eng, dtype: bool

In [10]:
df[df['eng']>df['eng'].mean()]

     kor  math  eng  sci
김희동   55    55   95   45
신윤지   66    66  100   77
박준희   34    40   90   67
윤파이   90   100   90   80

In [11]:
df[df['eng']>df['eng'].mean()].index

Index(['김희동', '신윤지', '박준희', '윤파이'], dtype='object')

In [12]:
list(df[df['eng']>df['eng'].mean()].index)

['김희동', '신윤지', '박준희', '윤파이']

In [13]:
for student in list(df[df['eng']>df['eng'].mean()].index):
    print(student)

김희동
신윤지
박준희
윤파이

### A1-5
전체 과목의 평균을 구한 후 평균이상이면 O, 평균미만이면 X를 pass 컬럼에 출력하여라.

In [15]:
df['tot'] = df['kor']+df['math']+df['eng']+df['sci']
# df['tot'] = df.sum(axis=1)
# df['avg'] = df.sum(axis=1)
df['avg'] = round(df['tot']/4,2)
df

     kor  math  eng  sci  tot    avg
고길동   40    70   80   90  280  70.00
김희동   55    55   95   45  250  62.50
신윤지   66    66  100   77  309  77.25
이민호   77    20   77   90  264  66.00
박준희   34    40   90   67  231  57.75
신머신   55    67   88   90  300  75.00
윤파이   90   100   90   80  360  90.00

In [16]:
result = df['avg'].mean()
result

71.21428571428571

In [17]:
df.loc[df['avg']<result, 'pass'] = 'X'
df.loc[df['avg']>=result, 'pass'] = 'O'
df

     kor  math  eng  sci  tot    avg pass
고길동   40    70   80   90  280  70.00    X
김희동   55    55   95   45  250  62.50    X
신윤지   66    66  100   77  309  77.25    O
이민호   77    20   77   90  264  66.00    X
박준희   34    40   90   67  231  57.75    X
신머신   55    67   88   90  300  75.00    O
윤파이   90   100   90   80  360  90.00    O

## Quiz 2

### Q2-1
아래의 리스트를 이용하여 df_student 데이타프레임을 생성하여라 

```
student_list = [ { 'name' : 'John', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Nate', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Abrabam', 'major' : 'Physics', 'gender' : 'male'},
                 { 'name' : 'Brian', 'major' : 'Psychology', 'gender' : 'male'},
                 { 'name' : 'Jenny', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Yuba', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Jennifer', 'major' : 'Computer Science', 'gender' : 'female'},
                 { 'name' : 'Edward', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Sara', 'major' : 'Psychology', 'gender' : 'female'},
                 { 'name' : 'Wendy', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Sera', 'major' : 'Psychology', 'gender' : 'female'}
               ]
```

In [19]:
student_list = [ { 'name' : 'John', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Nate', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Abrabam', 'major' : 'Physics', 'gender' : 'male'},
                 { 'name' : 'Brian', 'major' : 'Psychology', 'gender' : 'male'},
                 { 'name' : 'Jenny', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Yuba', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Jennifer', 'major' : 'Computer Science', 'gender' : 'female'},
                 { 'name' : 'Edward', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Sara', 'major' : 'Psychology', 'gender' : 'female'},
                 { 'name' : 'Wendy', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Sera', 'major' : 'Psychology', 'gender' : 'female'}]
                
df_student = pd.DataFrame(student_list)
df_student.sample(3)
df

     kor  math  eng  sci  tot    avg pass
고길동   40    70   80   90  280  70.00    X
김희동   55    55   95   45  250  62.50    X
신윤지   66    66  100   77  309  77.25    O
이민호   77    20   77   90  264  66.00    X
박준희   34    40   90   67  231  57.75    X
신머신   55    67   88   90  300  75.00    O
윤파이   90   100   90   80  360  90.00    O

### Q2-2
df_student 데이타프레임의 인덱스를 std1 ~ std11 형태로 변경하여라

In [21]:
df_student
#df_student.index = ['std1', 'std2', 'std3', 'std4',...]
['std'+str(i+1) for i in range(df_student.shape[0])]
[f'std{i}' for i in range(df_student.shape[0])]
df_student.index = ['std'+str(i+1) for i in range(df_student.shape[0])]
df_student
df

     kor  math  eng  sci  tot    avg pass
고길동   40    70   80   90  280  70.00    X
김희동   55    55   95   45  250  62.50    X
신윤지   66    66  100   77  309  77.25    O
이민호   77    20   77   90  264  66.00    X
박준희   34    40   90   67  231  57.75    X
신머신   55    67   88   90  300  75.00    O
윤파이   90   100   90   80  360  90.00    O

### Q2-3
df_student 데이타프레임에서 gender 컬럼이 female 값을 가진 데이타만 별도로 데이타프레임 df_student_female 로 생성하여라.

### Q2-4
df_student_female 데이타프레임에서 name 컬럼을 인덱스로 설정하고 gender 컬럼을 삭제하여라

### Q2-5
df_student 데이타프레임에서 'Computer Science' 과를 제외한 나머지 데이타로 데이타프레임 df_student2를 생성하여라. 이때 인덱스는 name 컬럼으로 변경한다

### Q2-6
df_student2 에서 Brian, Sara의 데이타를 삭제하고 grade 컬럼을 추가하여라 

4.5, 4.0, 3.5, 4.0, 3.0

### Q2-7
df_student2 데이타프레임에서 grade 컬럼명을 score로 변경하고 <br>
전체 컬럼 순서를 gender, score, major 순서로 변경하여라

### Q2-8
df_student2.describe() 명령을 이용하여 아래와 같이 출력하여라

### A2-1
아래의 리스트를 이용하여 df_student 데이타프레임을 생성하여라 

```
student_list = [ { 'name' : 'John', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Nate', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Abrabam', 'major' : 'Physics', 'gender' : 'male'},
                 { 'name' : 'Brian', 'major' : 'Psychology', 'gender' : 'male'},
                 { 'name' : 'Jenny', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Yuba', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Jennifer', 'major' : 'Computer Science', 'gender' : 'female'},
                 { 'name' : 'Edward', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Sara', 'major' : 'Psychology', 'gender' : 'female'},
                 { 'name' : 'Wendy', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Sera', 'major' : 'Psychology', 'gender' : 'female'}
               ]
```

In [ ]:
student_list = [ { 'name' : 'John', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Nate', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Abrabam', 'major' : 'Physics', 'gender' : 'male'},
                 { 'name' : 'Brian', 'major' : 'Psychology', 'gender' : 'male'},
                 { 'name' : 'Jenny', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Yuba', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Jennifer', 'major' : 'Computer Science', 'gender' : 'female'},
                 { 'name' : 'Edward', 'major' : 'Computer Science', 'gender' : 'male'},
                 { 'name' : 'Sara', 'major' : 'Psychology', 'gender' : 'female'},
                 { 'name' : 'Wendy', 'major' : 'Economics', 'gender' : 'female'},
                 { 'name' : 'Sera', 'major' : 'Psychology', 'gender' : 'female'}
               ]

In [ ]:
df_student = pd.DataFrame(student_list)

In [ ]:
df_student.sample(3)

### A2-2
df_student 데이타프레임의 인덱스를 std1 ~ std11 형태로 변경하여라

In [ ]:
df_student

In [ ]:
# df_student.index = ['std1', 'std2', 'std3', 'std4',...]

In [ ]:
['std'+str(i+1) for i in range(df_student.shape[0])]

In [ ]:
[f'std{i}' for i in range(df_student.shape[0])]

In [ ]:
df_student.index = ['std'+str(i+1) for i in range(df_student.shape[0])]

In [ ]:
df_student

### A2-3
df_student 데이타프레임에서 gender 컬럼이 female 값을 가진 데이타만 별도로 데이타프레임 df_student_female 로 생성하여라.

In [ ]:
df_student_female = df_student[df_student['gender'] == 'female'].copy()
df_student_female

### A2-4
df_student_female 데이타프레임에서 name 컬럼을 인덱스로 설정하고 gender 컬럼을 삭제하여라

In [ ]:
# df_student_female.set_index('name', inplace=True)
# df_student_female

In [ ]:
df_student_female.index = df_student_female['name']
df_student_female

In [ ]:
df_student_female.drop(['name', 'gender'], axis=1)

### A2-5
df_student 데이타프레임에서 'Computer Science' 과를 제외한 나머지 데이타로 데이타프레임 df_student2를 생성하여라. 이때 인덱스는 name 컬럼으로 변경한다

In [ ]:
df_student2 = df_student[df_student['major'] != 'Computer Science' ].copy()
df_student2.set_index('name', inplace=True)
df_student2

### A2-6
df_student2 에서 Brian, Sara의 데이타를 삭제하고 grade 컬럼을 추가하여라 

4.5, 4.0, 3.5, 4.0, 3.0

In [ ]:
df_student2.drop(['Brian', 'Sara'], axis=0, inplace=True)

In [ ]:
df_student2['grade'] = [4.5, 4.0, 3.5, 4.0, 3.0]
df_student2

### A2-7
df_student2 데이타프레임에서 grade 컬럼명을 score로 변경하고 <br>
전체 컬럼 순서를 gender, score, major 순서로 변경하여라

In [ ]:
# df_student2.columns
# df_student2.columns = ['major', 'gender', 'score']

In [ ]:
# 특정 컬럼명만 교체 
# rename(columns={old: new})
df_student2 = df_student2.rename(columns={'grade': 'score'})
df_student2

In [ ]:
# 전체 컬럼 순서를 gender, score, major 순서
df_student2 = df_student2[['gender', 'score', 'major']]
df_student2

### A2-8
df_student2.describe() 명령을 이용하여 아래와 같이 출력하여라

In [ ]:
df_student2.describe()

In [ ]:
df_student2.describe().loc[['mean', '25%', '50%', '75%']]

## Quiz 3

### Q3-1
```
아래의 CSV 파일을 df_weather 데이타프레임으로 생성하여라. 
이때 컬럼은 일시, 평균기온, 최고기온, 최저기온 으로만 한다 

기상온도_서울202012.csv

```

In [ ]:
#  pd.read_csv('data/기상온도_서울202012.csv', encoding='cp949')
df_weather = pd.read_csv('data/기상온도_서울202012.csv', encoding='cp949', usecols=[2, 3, 5, 8])

### Q3-2
```
df_weather 데이타프레임에서 결측값이 각 컬럼별로 몇개가 있는지 출력하여라 
```

### Q3-3
```
df_weather 데이타프레임에서 '일시' 컬럼값이 결측값 NaN으로 지정된 데이타를 출력하여라 
```

### Q3-4
```
df_weather 데이타프레임에서 행 모두의 값이 NaN이면 삭제하여라 
```

### Q3-5
```
df_weather 데이타프레임에서 결측값을 모두 0으로 변경하여라
```

### Q3-6
```
df_weather 데이타프레임에서 '일시' 컬럼의 데이타형을 시계열 형태로 변경하고 인덱스로 설정하여라. 
```

### Q3-7
```
df_weather 데이타프레임에서 2000 이후의 데이타만 출력하여라 
```

### A3-1
```
아래의 CSV 파일을 df_weather 데이타프레임으로 생성하여라. 
이때 컬럼은 일시, 평균기온, 최고기온, 최저기온 으로만 한다 

기상온도_서울202012.csv

```

In [ ]:
#  pd.read_csv('data/기상온도_서울202012.csv', encoding='cp949')

In [ ]:
df_weather = pd.read_csv('data/기상온도_서울202012.csv', encoding='cp949', usecols=[2, 3, 5, 8])

In [ ]:
df_weather.head()

### A3-2
```
df_weather 데이타프레임에서 결측값이 각 컬럼별로 몇개가 있는지 출력하여라 
```

In [ ]:
df_weather.info()

In [ ]:
df_weather.isnull()

In [ ]:
df_weather.isnull().sum()

### A3-3
```
df_weather 데이타프레임에서 '일시' 컬럼값이 결측값 NaN으로 지정된 데이타를 출력하여라 
```

In [ ]:
df_weather.isnull()['일시'].sum()

In [ ]:
df_weather[df_weather.isnull()['일시']]

In [ ]:
df_weather[df_weather.isnull()['일시']].index

### A3-4
```
df_weather 데이타프레임에서 행 모두의 값이 NaN이면 삭제하여라 
```

In [ ]:
df_weather.dropna(how="all", inplace=True)

In [ ]:
df_weather[df_weather.isnull()['일시']]

In [ ]:
df_weather.isnull().sum()

### A3-5
```
df_weather 데이타프레임에서 결측값을 모두 0으로 변경하여라
```

In [ ]:
df_weather[df_weather.isnull()['평균기온(℃)']]

In [ ]:
df_weather.fillna(value=0, inplace=True)

In [ ]:
df_weather[df_weather.isnull()['평균기온(℃)']]

In [ ]:
df_weather.isnull().sum()

### A3-6
```
df_weather 데이타프레임에서 '일시' 컬럼의 데이타형을 시계열 형태로 변경하고 인덱스로 설정하여라. 
```

In [ ]:
df_weather.dtypes

In [ ]:
df_weather['일시'] = pd.to_datetime(df_weather['일시'])

In [ ]:
df_weather.dtypes

In [ ]:
df_weather.set_index('일시', inplace=True)

In [ ]:
df_weather.head()

### A3-7
```
df_weather 데이타프레임에서 2000 년 데이타만 출력하여라 
```

In [ ]:
df_weather['2000']

In [ ]:
# 2000년 이후
df_weather['2000':]

## Quiz 4

### Q4-1

```
아래의 파일을 이용하여 df_covid 데이타프레임을 생성하여라.
   
seoul-covid19_6_30_.csv    

```

### Q4-2
```
'연번' 컬럼은 삭제하고  '환자' 컬럼 값 기준으로 정렬한 후 '환자' 컬럼을 인덱스로 설정하여라. 
```

### Q4-3
어느 지역에서 제일 많은 확진자가 발생했는지 1~5위 까지 출력하여라 (거주지 기준)

### Q4-4
확진자가 가장 많이 발생한 1, 2, 3위 지역의 데이타만 출력하여라

### Q4-5
'확진일' 컬럼값을 아래와 같은 형태로 변경하여라
<br>
'1.24.' => '2020-01-24'

### Q4-6
'확진일' 컬럼을 시계열 데이타로 형태를 변경하여라

### Q4-7
3월에 발생한 확진자의 데이타만 출력하여라.

### Q4-8
주말에 발생한 확진자의 데이타만 출력하여라.

### Q4-9
'콜센터'와 관련된 확진자의 데이타를 출력하여라.

### Q4-10
'우한'과 관련된 확진자의 데이타만 출력하여라.

### Q4-11
사망자는 모두 몇명인가?

### A4-1

```
아래의 파일을 이용하여 df_covid 데이타프레임을 생성하여라.
   
seoul-covid19_6_30_.csv    

```

In [ ]:
df_covid = pd.read_csv('./data/seoul-covid19_6_30_.csv')
df_covid

### A4-2
```
'연번' 컬럼은 삭제하고  '환자' 컬럼 값 기준으로 정렬한 후 '환자' 컬럼을 인덱스로 설정하여라. 
```

In [ ]:
df_covid = df_covid.drop('연번', axis=1)

In [ ]:
df_covid = df_covid.sort_values(by='환자').set_index('환자')
df_covid.head()

### A4-3
어느 지역에서 제일 많은 확진자가 발생했는지 1~5위 까지 출력하여라 (거주지 기준)

In [ ]:
df_group = df_covid.groupby('거주지').count().sort_values(by='확진일', ascending=False)
df_group

In [ ]:
top5 = list(df_group["확진일"].nlargest(5, keep='all').index.values)
top5

### A4-4
확진자가 가장 많이 발생한 1, 2, 3위 지역의 데이타만 출력하여라

In [ ]:
for i in top5[:3]:
    print(df_covid[df_covid['거주지']==i].sort_values(by='거주지'))

In [ ]:
# df_covid.apply(lambda x: x if x['거주지'] == top5[0] else (x if x['거주지'] == ind[1] else x))
df_covid[(df_covid['거주지'] == top5[0]) | (df_covid['거주지'] == top5[1]) | (df_covid['거주지'] == top5[2])].sort_values(by='거주지')

### A4-5
'확진일' 컬럼값을 아래와 같은 형태로 변경하여라
<br>
'1.24.' => '2020-1-24'

In [ ]:
df_covid['확진일'] = '2020.'+ df_covid['확진일']
df_covid['확진일']

In [ ]:
df_covid['확진일'] = pd.to_datetime(df_covid['확진일'], format='%Y.%m.%d.') 
df_covid['확진일']

### A4-6
'확진일' 컬럼을 시계열 데이타로 형태를 변경하여라

In [ ]:
# df_covid['확진일'] = pd.to_datetime(df_covid['확진일'], format='mixed')
df_covid.info()

### A4-7
3월에 발생한 확진자의 데이타만 출력하여라.

In [ ]:
df_covid[df_covid['확진일'] == '2020-03']

### A4-8
주말에 발생한 확진자의 데이타만 출력하여라.

In [ ]:
df_covid[(df_covid['확진일'].dt.dayofweek==5) | (df_covid['확진일'].dt.dayofweek==6)]

### A4-9
'콜센터'와 관련된 확진자의 데이타를 출력하여라.

In [ ]:
df_covid[df_covid['접촉력'].str.contains('콜센터')]

### A4-10
'우한'과 관련된 확진자의 데이타만 출력하여라.

In [ ]:
df_covid[df_covid['여행력'].str.contains('우한')]

### A4-11
사망자는 모두 몇명인가?

In [ ]:
df_covid[df_covid['조치사항'].str.contains('사망')].count()

## Quiz 5

### Q5-1

아래의 파일을 이용하여 데이타프레임을 생성하여라.<br>
   
전국 평균 분양가격.csv

In [25]:
df = pd.read_csv('./data/전국 평균 분양가격.csv', encoding='cp949')
df.head()
df

FileNotFoundError: [Errno 2] No such file or directory: './data/전국 평균 분양가격.csv'

### Q5-2

데이터프레임의 행과 열을 서로 변경하여라.

In [ ]:
df = df.T
df

### Q5-3

1행을 삭제하고 2행을 컬럼으로 지정하여라.

In [22]:
df = df.set_axis(df.iloc[0], axis='columns')
df.head()
df

고길동  40   70   80  90  280   70.0  X
고길동  40   70   80  90  280  70.00  X
김희동  55   55   95  45  250  62.50  X
신윤지  66   66  100  77  309  77.25  O
이민호  77   20   77  90  264  66.00  X
박준희  34   40   90  67  231  57.75  X
신머신  55   67   88  90  300  75.00  O
윤파이  90  100   90  80  360  90.00  O

### Q5-4

'지역' 컬럼을 시계열 데이타로 변경하고 인덱스로 설정하여라.

In [24]:
df = df.drop('지역', axis=0)
df.head(5)
df

KeyError: "['지역'] not found in axis"

### Q5-5

2015년 6월 이후의 데이타만 출력하여라

In [ ]:
df.index = pd.to_datetime(df.index, format='%Y년%m월')
df.head()
type(df.index)
df.index = df.index.to_period('M')
df.head()

### Q5-6

2014년도의 서울, 인천 경기 컬럼만 출력하여라.

In [ ]:
df[df.index >= '2015-06']
df_final = df[df.index.year == 2014][['서울', '인천', '경기']]
df_final

### Q5-7
csv 파일 형태로 현재의 데이타프레임을 저장하여라. 
<br>
output/평균분양가격_서울인천경기.csv

In [ ]:
df.to_csv('./data/평균분양가격_서울인천경기.csv')

### A5-1

아래의 파일을 이용하여 데이타프레임을 생성하여라.<br>
   
전국 평균 분양가격.csv

In [ ]:
df = pd.read_csv('./data/전국 평균 분양가격.csv', encoding='cp949')
df.head()

### A5-2

데이터프레임의 행과 열을 서로 변경하여라.

In [ ]:
df = df.T
df

### A5-3

1행을 삭제하고 2행을 컬럼으로 지정하여라.

In [ ]:
df = df.set_axis(df.iloc[0], axis='columns')
df.head()

In [ ]:
df = df.drop('지역', axis=0)
df.head(5)

### A5-4

'지역' 컬럼을 시계열 데이타로 변경하고 인덱스로 설정하여라.

In [ ]:
df.index = pd.to_datetime(df.index, format='%Y년%m월')
df.head()

In [ ]:
type(df.index)

In [ ]:
df.index = df.index.to_period('M')
df.head()

### A5-5

2015년 6월 이후의 데이타만 출력하여라

In [ ]:
df[df.index >= '2015-06']

### A5-6

2014년도의 서울, 인천 경기 컬럼만 출력하여라.

In [ ]:
df_final = df[df.index.year == 2014][['서울', '인천', '경기']]
df_final

### A5-7
csv 파일 형태로 현재의 데이타프레임을 저장하여라. 
<br>
output/평균분양가격_서울인천경기.csv

In [ ]:
df.to_csv('./data/평균분양가격_서울인천경기.csv')