# 0904 TIL 01~50

In [1]:
#001 print 기초
#화면에 Hello World 문자열을 출력하세요.
print("hello world")

hello world

In [2]:
#002 print 기초
#화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#003 print 기초
#화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [98]:
#004 print 기초
#화면에 C:\Windows 를 출력하세요.
print('C:\Windows')

C:\Windows

<>:3: SyntaxWarning: invalid escape sequence '\W'
<>:3: SyntaxWarning: invalid escape sequence '\W'
C:\Users\USER\AppData\Local\Temp\ipykernel_92748\4058516208.py:3: SyntaxWarning: invalid escape sequence '\W'
  print('C:\Windows')

In [8]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
#`\t`는 탭을 의미하고 `\n'`은 줄바꿈을 의미합니다.

안녕하세요.
만나서		반갑습니다.

In [9]:
#006 print 여러 데이터 출력
#print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")

오늘은 일요일

In [10]:
#007 print 기초
#print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [11]:
##008 print 기초
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [12]:
#009 print 줄바꿈
##다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first", end=""); print("second")

firstsecond

In [13]:
#010 연산 결과 출력
#5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

In [14]:
#011 변수 사용하기
#삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [27]:
#012 변수 사용하기
#다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000 
현재가 = 50,000 
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
(50, 0) <class 'tuple'>
15.79 <class 'float'>

In [26]:

#013 문자열 출력
#변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [28]:

#014 파이썬을 이용한 값 계산
#아래 코드의 실행 결과를 예상해보세요.
2+2*3

8

In [34]:

#015 type 함수
#type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

a = 128
print (type(a))

<class 'int'>

In [35]:
#016 문자열을 정수로 변환
#문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [36]:
#017 정수를 문자열 100으로 변환
#정수 100을 문자열 '100'으로 변환해보세요.
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [37]:
#018 문자열을 실수로 변환
#문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [38]:
#019 문자열을 정수로 변환
#year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"
print(int(year)-3)  # 2017
print(int(year)-2)  # 2018
print(int(year)-1)  # 2019

2017
2018
2019

In [39]:
#020 파이썬 계산
#에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

In [40]:
#021 문자열 인덱싱
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'
print(letters[0], letters[2])

p t

In [41]:
#022 문자열 슬라이싱
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [42]:
#023 문자열 인덱싱
#아래의 문자열에서 '홀' 만 출력하세요.
#슬라이싱할 때 `시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [43]:
#024 문자열 슬라이싱
#문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

In [44]:

#025 문자열 치환
#아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [45]:
#026 문자열 다루기
#25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '')
print(phone_number1)

01011112222

In [96]:
#027 문자열 다루기
#url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [ ]:
#028 문자열은 immutable
#아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

In [50]:
#029 replace 메서드
#아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [76]:
#030 replace 메서드
#아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [81]:
#031 문자열 합치기
#아래 코드의 실행 결과를 예상해보세요.
a = '3'
b = '4'
print(a + b)

34

In [84]:
#032 문자열 곱하기
#아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)

HiHiHi

In [85]:
#033 문자열 곱하기
#화면에 '-'를 80개 출력하세요.

print('-'*80)

--------------------------------------------------------------------------------

In [88]:
#034 문자열 곱하기
#변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [89]:
#035 문자열 출력
#변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [90]:
#036 문자열 출력
#문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [91]:
#037 문자열 출력
#파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [92]:
#038 컴마 제거하기
#삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [93]:
#039 문자열 슬라이싱
#다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [94]:
#040 strip 메서드
#문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [95]:
#041 upper 메서드
#다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [99]:
#042 lower 메서드
#다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [103]:
#043 capitalize 메서드
#문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
a = "hello"
a = a.capitalize()
print(a)

Hello

In [106]:
#044 endswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [105]:
#045 endswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [107]:
#046 startswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [108]:
#047 split 메서드
a = "hello world"
a.split()

['hello', 'world']

In [111]:
#048 split 메서드
#다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [112]:
#049 split 메서드

#다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [113]:
#050 rstrip 메서드
data = "039490     "
data = data.rstrip()